.portfolio {
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.portfolio__header {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0;
  padding: 50px 0 125px;
  list-style-type: none;
}

.portfolio__list-item {
  position: relative;
}

.portfolio__list-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #E8E8E8;
  transform: translate(0, 19px);
}

.portfolio__list-item:last-child::after {
  content: '';
  height: 0;
}

.portfolio__list-link {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: inherit;
  text-decoration: none;
  transition: all .4s;
}

.portfolio__list-link:hover {
  opacity: .6;
}

.portfolio__list-text {
  margin: 0;
}

.portfolio__list-arrow {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px;
  }

  .portfolio__list {
    padding: 50px 0 90px;
  }

  .portfolio__list-link {
    font-size: 28px;
    line-height: 50px;
  }

  .portfolio__list-arrow {
    transform: scale(0.93);
  }
}

@media screen and (max-width: 640px) {
  .portfolio {
    padding: 0 14px;
  }

  .portfolio__header {
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    padding: 40px 0 70px;
  }

  .portfolio__list-link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__list-arrow {
    transform: scale(0.62);
  }
}