@keyframes showError {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 30px;
  box-sizing: border-box;
  transition: all .4s;
}

.login__title {
  margin: 40px 0 62px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.login__label {
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
}

.login__label:first-child:before {
  position: absolute;
  top: -25px;
  content: "E-mail";
}

.login__label:nth-child(2)::before {
  position: absolute;
  top: -25px;
  content: "Пароль";
}

.login__input {
  width: 100%;
  padding: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  outline: 0;
  border: 0;
  background: #F9F9F9;
  border-radius: 8px;
  transition: all .4s;
  box-sizing: border-box;
}

.login__input_error {
  color: #ee3465;
}

.login__input:focus {
  background-color: rgba(200, 200, 200, 0.6);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.login__button {
  margin: 137px 0 0 0;
  padding: 13px 0 15px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #000000;
  border: 0;
  border-radius: 3px;
  transition: all .4s;
  cursor: pointer;
}

.login__button:hover {
  opacity: .8;
}

.login__button_disabled {
  background: #9f9f9f;
  cursor: auto;
  opacity: .8;
}

.login__link-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.login__link-text {
  margin: 0;
  color: #A0A0A0;
}

.login__link {
  color: #000;
  text-decoration: none;
  transition: all .4s;
}

.login__link:hover {
  opacity: .6;
}

.login__error-general {
  visibility: visible;
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ee3465;
  transform: translate(-50%, -50%);
  animation: showError .4s;
}

.login__error-input {
  position: absolute;
  bottom: -17px;
  left: 0;
  height: 15px;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  animation: showError .4s;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 232px 30px 70px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    padding: 56px 30px 30px;
  }

  .login__title {
    margin: 50px 0 102px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .login__logo {
    display: flex;
    margin: 0 auto;
  }

  .login__button {
    margin: 225px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .login__link-container {
    margin: 14px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}